In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv("C:/Users/Shivalik Ghosh/Desktop/Work/Order 7th Data.csv")
df.head(5)

,OrderId,createdAt,Store Billed At,Dc Billed At,Completed At,CustomerName,CustomerMobile,ShippingCommunity,ShippingAddressDetail,CommunityId,...,discount,storeValue,storeInvoice,storeInvoiceAmount,dcValue,dcInvoice,dcInvoiceAmount,refund,Order Completion Time (min),Store Billing Time (min)
0,TN5J1ROZ,08/04/21 18:56,08/04/21 19:11,NaN,08/04/21 19:39,Shimpi,9.008288e+09,Brigade Cosmopolis,0610 BLOCK C,1009,...,0,124.0,21BRCP0118044843,124,NaN,NaN,NaN,0,42,15
1,RCKB64C7,08/04/21 18:56,08/04/21 19:02,NaN,08/04/21 19:30,Parag,9.632966e+09,Shriram Summitt,1003 WING 2,1019,...,0,340.0,21SHSM0108030954,340,NaN,NaN,NaN,0,34,6
2,HLEFJUEW,08/04/21 18:55,08/04/21 19:02,NaN,08/04/21 19:57,Swarna,9.986214e+09,Adarsh Palm Retreat,G502 Tower 6,1003,...,0,134.5,21ADPR0215020297,135,NaN,NaN,NaN,0,61,6
3,SOSQ1VXL,08/04/21 18:55,08/04/21 19:23,NaN,08/04/21 20:06,Abhishek Thakkar,9.022845e+09,Salarpuria Greenage,2404 OAK C,1022,...,0,119.5,21SSGR0111029462,120,NaN,NaN,NaN,0,71,28
4,AECZHJV8,08/04/21 18:54,08/04/21 19:19,NaN,08/04/21 19:32,Vikas Goel,9.448910e+09,Sobha Silicon Oasis,S1-8104 WING 8,1002,...,0,93.0,sbso01014931,93,NaN,NaN,NaN,0,37,24

In [3]:
import datetime

In [4]:
df['createdAt'].dtype

dtype('O')

In [5]:
df['createdAt'] = pd.to_datetime(df['createdAt'])

In [6]:
def str_date(X) :
    list1 = []
    for i in X :
        i = datetime.datetime.strftime(i,'%d-%m-%y %H:%M')
        list1.append(i)
    return list1

In [7]:
df['createdAt'] = str_date(df['createdAt'])

In [8]:
df['createdAt'] = pd.to_datetime(df['createdAt'])

In [9]:
df['Completed At'] = pd.to_datetime(df['Completed At'])

In [10]:
df['Completed At'] = str_date(df['Completed At'])

In [11]:
df['Completed At'] = pd.to_datetime(df['Completed At'])

In [49]:
import datetime
from datetime import timedelta

In [50]:
df['Final_Status'] = np.nan

In [60]:
# trial
#same_next1(createdAt,completedAt,Final_Status)
def same_next1(X,Y,Z) :
    first_day = X[0].day - 1
    
    for i in range(len(X)) :
        if (X[i].day == first_day and X[i].hour >= 19 and X[i].hour <= 23 and X[i].minute <= 59) :
            Z[i] = np.where(Y[i]< datetime.datetime(X[i].year,X[i].month,X[i].day+1,10,0), "Complaint", "Non Complaint")
     
        elif (X[i].day != first_day and X[i].hour >= 0 and X[i].hour == 8 and X[i].minute <= 59) :
            Z[i] = np.where(Y[i]< datetime.datetime(X[i].year,X[i].month,X[i].day,10,0), "Complaint", "Non Complaint")
            
        elif (X[i].day != first_day and X[i].hour >=9 and X[i].hour <= 18 and X[i].minute <=59) :
            Z[i] = np.where(Y[i]< X[i]+timedelta(hours=1), "Complaint", "Non Complaint")
        else:
            pass

In [61]:
same_next1(df['createdAt'],df['Completed At'],df['Final_Status'])

C:\Users\Shivalik Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Shivalik Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Shivalik Ghosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
def same_next1(X) :
    first_day = X[0].day - 1
    list3 = []
    for i in X :
        if (i.day == first_day and i.hour >= 19 and i.hour <= 23 and i.minute <= 59) :
            i = 'Next Day'
        elif (i.day != first_day and i.hour >= 0 and i.hour == 8 and i.minute <= 59) :
            i = 'Same Day Before 10'
        else :
            i = 'Same day before 1 hour'
        list3.append(i)
    return list3

In [13]:
df['Order Category'] = same_next1(df['createdAt'])
df['Order Category']

0      Same day before 1 hour
1      Same day before 1 hour
2      Same day before 1 hour
3      Same day before 1 hour
4      Same day before 1 hour
                ...
518                  Next Day
519                  Next Day
520                  Next Day
521                  Next Day
522                  Next Day
Name: Order Category, Length: 523, dtype: object

In [14]:
Y = df[['createdAt','Order Category']]
Y[Y['Order Category'] == 'Same Day Before 10'].shape

(34, 2)

In [15]:
Y[Y['Order Category'] == 'Same day before 1 hour']

              createdAt          Order Category
0   2021-04-08 18:56:00  Same day before 1 hour
1   2021-04-08 18:56:00  Same day before 1 hour
2   2021-04-08 18:55:00  Same day before 1 hour
3   2021-04-08 18:55:00  Same day before 1 hour
4   2021-04-08 18:54:00  Same day before 1 hour
..                  ...                     ...
435 2021-04-08 06:34:00  Same day before 1 hour
436 2021-04-08 06:22:00  Same day before 1 hour
437 2021-04-08 02:53:00  Same day before 1 hour
438 2021-04-08 01:34:00  Same day before 1 hour
439 2021-04-08 00:09:00  Same day before 1 hour

[406 rows x 2 columns]

In [16]:
df['Order Completion Time (hrs)'] = df['Order Completion Time (min)']/60
XYZ = df['Order Completion Time (hrs)']
XYZ.sum()/523

3.5579668578712553

In [17]:
(df['Completed At'] - df['createdAt']).sum()

Timedelta('77 days 16:47:00')

In [18]:
def Complaint(Y) :
    first_day = Y[0].day - 1
    list4 = []
    for i in Y :
        if (i.day == first_day and i.hour >= 19 and i.hour <= 23 and i.minute <= 59) :
            i = 'Complaint'
        elif (i.day != first_day and i.hour >= 0 and i.hour <= 8 and i.minute <= 59) :
            i = 'Complaint'
        elif (i.day != first_day and i.hour >= 9 and i.hour <= 10 ) :
            i = 'Complaint and within 1 hour'
        elif (i.day != first_day and i.hour >=10 and i.hour <= 11) :
            i = 'Non Complaint but more than 1 hour but less than 2' 
        else :
            i = 'Non Complaint and more than 1 hour'
        list4.append(i)
    return list4

In [19]:
df['Completion Category'] = Complaint(df['Completed At'])
df['Completion Category']

0      Non Complaint and more than 1 hour
1      Non Complaint and more than 1 hour
2      Non Complaint and more than 1 hour
3      Non Complaint and more than 1 hour
4      Non Complaint and more than 1 hour
                      ...
518                             Complaint
519                             Complaint
520           Complaint and within 1 hour
521                             Complaint
522                             Complaint
Name: Completion Category, Length: 523, dtype: object

In [20]:
Y1 = df[['ShippingCommunity','createdAt', 'Order Category']]
Y1

       ShippingCommunity           createdAt          Order Category
0     Brigade Cosmopolis 2021-04-08 18:56:00  Same day before 1 hour
1        Shriram Summitt 2021-04-08 18:56:00  Same day before 1 hour
2    Adarsh Palm Retreat 2021-04-08 18:55:00  Same day before 1 hour
3    Salarpuria Greenage 2021-04-08 18:55:00  Same day before 1 hour
4    Sobha Silicon Oasis 2021-04-08 18:54:00  Same day before 1 hour
..                   ...                 ...                     ...
518  Salarpuria Greenage 2021-04-07 19:09:00                Next Day
519    Prestige Lakeside 2021-04-07 19:07:00                Next Day
520    Sobha Dream Acres 2021-04-07 19:06:00                Next Day
521      Shriram Summitt 2021-04-07 19:04:00                Next Day
522     Ramky  One North 2021-04-07 19:02:00                Next Day

[523 rows x 3 columns]

In [21]:
df['Order Completion Time (hrs)'].groupby(df['ShippingCommunity']).mean()

ShippingCommunity
Adarsh Palm Retreat                 10.062393
Brigade Cosmopolis                   0.852381
Brigade Lakefront                    3.372778
Brigade Meadows                      2.269444
Divyasree Republic of Whitefield     4.370370
GM Infinite                          1.227778
Godrej Ecity                         4.425000
Godrej Eternity                      0.743333
Prestige Lakeside                    3.125606
Prestige Sunrise Park                2.822222
Provident Sunworth                   1.487255
Ramky  One North                     0.929167
SNN Raj Etternia                     2.021667
SNN Raj Greenbay                     6.879167
Salarpuria Greenage                  1.230000
Shriram Summitt                      1.154412
Sobha Dream Acres                    5.117083
Sobha Silicon Oasis                  0.566667
Name: Order Completion Time (hrs), dtype: float64

In [22]:
Y2 = df[['ShippingCommunity','createdAt','Completed At', 'Completion Category']]
Y2

,ShippingCommunity,createdAt,Completed At,Completion Category
0,Brigade Cosmopolis,2021-04-08 18:56:00,2021-04-08 19:39:00,Non Complaint and more than 1 hour
1,Shriram Summitt,2021-04-08 18:56:00,2021-04-08 19:30:00,Non Complaint and more than 1 hour
2,Adarsh Palm Retreat,2021-04-08 18:55:00,2021-04-08 19:57:00,Non Complaint and more than 1 hour
3,Salarpuria Greenage,2021-04-08 18:55:00,2021-04-08 20:06:00,Non Complaint and more than 1 hour
4,Sobha Silicon Oasis,2021-04-08 18:54:00,2021-04-08 19:32:00,Non Complaint and more than 1 hour
...,...,...,...,...
518,Salarpuria Greenage,2021-04-07 19:09:00,2021-04-07 20:01:00,Complaint
519,Prestige Lakeside,2021-04-07 19:07:00,2021-04-07 21:20:00,Complaint
520,Sobha Dream Acres,2021-04-07 19:06:00,2021-04-08 09:44:00,Complaint and within 1 hour
521,Shriram Summitt,2021-04-07 19:04:00,2021-04-07 19:51:00,Complaint
522,Ramky One North,2021-04-07 19:02:00,2021-04-07 21:13:00,Complaint

In [23]:
Y2[Y2['Completion Category'] == 'Non Complaint but more than 1 hour but less than 2']

,ShippingCommunity,createdAt,Completed At,Completion Category
244,SNN Raj Etternia,2021-04-08 11:24:00,2021-04-08 11:56:00,Non Complaint but more than 1 hour but less th...
266,Prestige Sunrise Park,2021-04-08 10:55:00,2021-04-08 11:48:00,Non Complaint but more than 1 hour but less th...
279,GM Infinite,2021-04-08 10:41:00,2021-04-08 11:16:00,Non Complaint but more than 1 hour but less th...
280,Shriram Summitt,2021-04-08 10:40:00,2021-04-08 11:48:00,Non Complaint but more than 1 hour but less th...
289,Sobha Dream Acres,2021-04-08 10:33:00,2021-04-08 11:28:00,Non Complaint but more than 1 hour but less th...
291,Shriram Summitt,2021-04-08 10:32:00,2021-04-08 11:48:00,Non Complaint but more than 1 hour but less th...
296,GM Infinite,2021-04-08 10:19:00,2021-04-08 11:10:00,Non Complaint but more than 1 hour but less th...
302,Prestige Lakeside,2021-04-08 10:14:00,2021-04-08 11:49:00,Non Complaint but more than 1 hour but less th...
306,SNN Raj Etternia,2021-04-08 10:06:00,2021-04-08 11:47:00,Non Complaint but more than 1 hour but less th...
308,Brigade Cosmopolis,2021-04-08 10:02:00,2021-04-08 11:07:00,Non Complaint but more than 1 hour but less th...
309,Shriram Summitt,2021-04-08 09:57:00,2021-04-08 11:48:00,Non Complaint but more than 1 hour but less th...
310,Prestige Sunrise Park,2021-04-08 09:57:00,2021-04-08 11:05:00,Non Complaint but more than 1 hour but less th...
312,Sobha Dream Acres,2021-04-08 09:51:00,2021-04-08 11:28:00,Non Complaint but more than 1 hour but less th...
316,Sobha Dream Acres,2021-04-08 09:45:00,2021-04-08 11:28:00,Non Complaint but more than 1 hour but less th...
336,Prestige Lakeside,2021-04-08 09:32:00,2021-04-08 11:49:00,Non Complaint but more than 1 hour but less th...
337,Sobha Dream Acres,2021-04-08 09:30:00,2021-04-08 11:52:00,Non Complaint but more than 1 hour but less th...
339,Sobha Dream Acres,2021-04-08 09:28:00,2021-04-08 11:27:00,Non Complaint but more than 1 hour but less th...
348,Sobha Dream Acres,2021-04-08 09:22:00,2021-04-08 11:51:00,Non Complaint but more than 1 hour but less th...
351,Prestige Sunrise Park,2021-04-08 09:19:00,2021-04-08 11:04:00,Non Complaint but more than 1 hour but less th...
355,Sobha Dream Acres,2021-04-08 09:15:00,2021-04-08 11:27:00,Non Complaint but more than 1 hour but less th...
360,Prestige Sunrise Park,2021-04-08 09:09:00,2021-04-08 11:04:00,Non Complaint but more than 1 hour but less th...
365,Prestige Lakeside,2021-04-08 09:06:00,2021-04-08 11:41:00,Non Complaint but more than 1 hour but less th...
366,SNN Raj Etternia,2021-04-08 09:06:00,2021-04-08 11:18:00,Non Complaint but more than 1 hour but less th...
368,Sobha Dream Acres,2021-04-08 09:05:00,2021-04-08 11:26:00,Non Complaint but more than 1 hour but less th...
372,Divyasree Republic of Whitefield,2021-04-08 09:01:00,2021-04-08 11:59:00,Non Complaint but more than 1 hour but less th...
374,Divyasree Republic of Whitefield,2021-04-08 09:01:00,2021-04-08 11:59:00,Non Complaint but more than 1 hour but less th...
375,Sobha Dream Acres,2021-04-08 09:00:00,2021-04-08 11:52:00,Non Complaint but more than 1 hour but less th...
376,Prestige Lakeside,2021-04-08 08:59:00,2021-04-08 11:41:00,Non Complaint but more than 1 hour but less th...
383,Prestige Sunrise Park,2021-04-08 08:44:00,2021-04-08 11:04:00,Non Complaint but more than 1 hour but less th...
385,Divyasree Republic of Whitefield,2021-04-08 08:41:00,2021-04-08 11:58:00,Non Complaint but more than 1 hour but less th...
392,Divyasree Republic of Whitefield,2021-04-08 08:32:00,2021-04-08 11:57:00,Non Complaint but more than 1 hour but less th...
403,Prestige Lakeside,2021-04-08 08:20:00,2021-04-08 11:40:00,Non Complaint but more than 1 hour but less th...
404,Divyasree Republic of Whitefield,2021-04-08 08:17:00,2021-04-08 11:54:00,Non Complaint but more than 1 hour but less th...
408,Prestige Sunrise Park,2021-04-08 08:03:00,2021-04-08 11:04:00,Non Complaint but more than 1 hour but less th...
411,Prestige Sunrise Park,2021-04-08 07:58:00,2021-04-08 11:04:00,Non Complaint but more than 1 hour but less th...
426,Divyasree Republic of Whitefield,2021-04-08 07:14:00,2021-04-08 11:53:00,Non Complaint but more than 1 hour but less th...
438,Prestige Sunrise Park,2021-04-08 01:34:00,2021-04-08 11:03:00,Non Complaint but more than 1 hour but less th...

In [24]:
def New_Compliance(Z) :
    first_day = Z[0].day + 1 
    listX = []
    for i in Z :
        if i.day == first_day and i.hour > 11 and i.hour < 19 :
            i = 'Complaint'
        listX.append(i)
    return listX

In [25]:
(df['Completed At'] - df['createdAt'])

0     00:43:00
1     00:34:00
2     01:02:00
3     01:11:00
4     00:38:00
        ...
518   00:52:00
519   02:13:00
520   14:38:00
521   00:47:00
522   02:11:00
Length: 523, dtype: timedelta64[ns]

In [63]:
Y3 = df[['ShippingCommunity','createdAt','Completed At', 'Final_Status']]
Y3

,ShippingCommunity,createdAt,Completed At,Final_Status
0,Brigade Cosmopolis,2021-04-08 18:56:00,2021-04-08 19:39:00,Complaint
1,Shriram Summitt,2021-04-08 18:56:00,2021-04-08 19:30:00,Complaint
2,Adarsh Palm Retreat,2021-04-08 18:55:00,2021-04-08 19:57:00,Non Complaint
3,Salarpuria Greenage,2021-04-08 18:55:00,2021-04-08 20:06:00,Non Complaint
4,Sobha Silicon Oasis,2021-04-08 18:54:00,2021-04-08 19:32:00,Complaint
...,...,...,...,...
518,Salarpuria Greenage,2021-04-07 19:09:00,2021-04-07 20:01:00,Complaint
519,Prestige Lakeside,2021-04-07 19:07:00,2021-04-07 21:20:00,Complaint
520,Sobha Dream Acres,2021-04-07 19:06:00,2021-04-08 09:44:00,Complaint
521,Shriram Summitt,2021-04-07 19:04:00,2021-04-07 19:51:00,Complaint
522,Ramky One North,2021-04-07 19:02:00,2021-04-07 21:13:00,Complaint

In [78]:
Y3[Y3['Final_Status']=='Complaint'].tail(60)

,ShippingCommunity,createdAt,Completed At,Final_Status
452,SNN Raj Etternia,2021-04-07 21:17:00,2021-04-07 21:22:00,Complaint
453,Prestige Lakeside,2021-04-07 21:15:00,2021-04-07 22:39:00,Complaint
454,Prestige Lakeside,2021-04-07 21:05:00,2021-04-07 22:39:00,Complaint
455,Salarpuria Greenage,2021-04-07 21:01:00,2021-04-07 21:54:00,Complaint
457,Brigade Meadows,2021-04-07 20:56:00,2021-04-07 21:59:00,Complaint
459,Prestige Lakeside,2021-04-07 20:54:00,2021-04-07 22:38:00,Complaint
462,Brigade Cosmopolis,2021-04-07 20:48:00,2021-04-07 21:11:00,Complaint
463,SNN Raj Greenbay,2021-04-07 20:47:00,2021-04-07 22:30:00,Complaint
465,Prestige Lakeside,2021-04-07 20:39:00,2021-04-07 21:27:00,Complaint
466,Salarpuria Greenage,2021-04-07 20:37:00,2021-04-07 21:27:00,Complaint
468,Shriram Summitt,2021-04-07 20:30:00,2021-04-07 20:59:00,Complaint
469,Shriram Summitt,2021-04-07 20:26:00,2021-04-07 20:58:00,Complaint
470,Prestige Lakeside,2021-04-07 20:24:00,2021-04-07 21:28:00,Complaint
471,Prestige Lakeside,2021-04-07 20:18:00,2021-04-07 21:31:00,Complaint
473,Prestige Lakeside,2021-04-07 20:15:00,2021-04-07 21:15:00,Complaint
474,Provident Sunworth,2021-04-07 20:14:00,2021-04-07 20:35:00,Complaint
475,Brigade Cosmopolis,2021-04-07 20:13:00,2021-04-07 20:36:00,Complaint
476,Brigade Meadows,2021-04-07 20:12:00,2021-04-07 21:59:00,Complaint
477,Prestige Lakeside,2021-04-07 20:11:00,2021-04-07 21:16:00,Complaint
478,Brigade Meadows,2021-04-07 20:10:00,2021-04-07 21:59:00,Complaint
479,Sobha Dream Acres,2021-04-07 20:09:00,2021-04-08 09:45:00,Complaint
480,Shriram Summitt,2021-04-07 20:06:00,2021-04-07 20:58:00,Complaint
481,Salarpuria Greenage,2021-04-07 20:02:00,2021-04-07 21:03:00,Complaint
482,Prestige Lakeside,2021-04-07 20:01:00,2021-04-07 22:39:00,Complaint
483,Sobha Dream Acres,2021-04-07 19:57:00,2021-04-08 09:45:00,Complaint
484,Prestige Lakeside,2021-04-07 19:57:00,2021-04-07 21:17:00,Complaint
485,Sobha Silicon Oasis,2021-04-07 19:56:00,2021-04-07 20:38:00,Complaint
486,Salarpuria Greenage,2021-04-07 19:55:00,2021-04-07 21:03:00,Complaint
487,Prestige Lakeside,2021-04-07 19:55:00,2021-04-07 21:18:00,Complaint
488,Godrej Eternity,2021-04-07 19:55:00,2021-04-07 20:30:00,Complaint
489,Brigade Meadows,2021-04-07 19:55:00,2021-04-07 21:59:00,Complaint
491,SNN Raj Etternia,2021-04-07 19:54:00,2021-04-07 20:44:00,Complaint
492,Brigade Meadows,2021-04-07 19:53:00,2021-04-07 21:59:00,Complaint
493,Prestige Sunrise Park,2021-04-07 19:46:00,2021-04-07 21:37:00,Complaint
494,Salarpuria Greenage,2021-04-07 19:44:00,2021-04-07 21:03:00,Complaint
495,Sobha Dream Acres,2021-04-07 19:39:00,2021-04-08 09:45:00,Complaint
496,Provident Sunworth,2021-04-07 19:39:00,2021-04-07 20:42:00,Complaint
497,Salarpuria Greenage,2021-04-07 19:38:00,2021-04-07 20:29:00,Complaint
499,Prestige Lakeside,2021-04-07 19:37:00,2021-04-07 21:21:00,Complaint
501,Prestige Sunrise Park,2021-04-07 19:36:00,2021-04-07 21:38:00,Complaint
502,SNN Raj Etternia,2021-04-07 19:32:00,2021-04-07 20:43:00,Complaint
503,Sobha Dream Acres,2021-04-07 19:31:00,2021-04-08 09:45:00,Complaint
504,Prestige Lakeside,2021-04-07 19:30:00,2021-04-07 21:20:00,Complaint
506,Sobha Dream Acres,2021-04-07 19:28:00,2021-04-08 09:45:00,Complaint
507,Brigade Meadows,2021-04-07 19:26:00,2021-04-07 21:58:00,Complaint
508,Brigade Lakefront,2021-04-07 19:24:00,2021-04-07 20:13:00,Complaint
509,Sobha Dream Acres,2021-04-07 19:22:00,2021-04-08 09:45:00,Complaint
510,Sobha Silicon Oasis,2021-04-07 19:20:00,2021-04-07 19:44:00,Complaint
511,Sobha Dream Acres,2021-04-07 19:19:00,2021-04-08 09:45:00,Complaint
512,Sobha Dream Acres,2021-04-07 19:17:00,2021-04-08 09:45:00,Complaint
513,Prestige Lakeside,2021-04-07 19:14:00,2021-04-07 21:19:00,Complaint
514,Brigade Lakefront,2021-04-07 19:13:00,2021-04-07 20:15:00,Complaint
515,Prestige Lakeside,2021-04-07 19:12:00,2021-04-07 21:18:00,Complaint
516,Sobha Dream Acres,2021-04-07 19:12:00,2021-04-08 09:45:00,Complaint
517,Sobha Dream Acres,2021-04-07 19:11:00,2021-04-08 09:44:00,Complaint
518,Salarpuria Greenage,2021-04-07 19:09:00,2021-04-07 20:01:00,Complaint
519,Prestige Lakeside,2021-04-07 19:07:00,2021-04-07 21:20:00,Complaint
520,Sobha Dream Acres,2021-04-07 19:06:00,2021-04-08 09:44:00,Complaint
521,Shriram Summitt,2021-04-07 19:04:00,2021-04-07 19:51:00,Complaint
522,Ramky One North,2021-04-07 19:02:00,2021-04-07 21:13:00,Complaint

In [144]:
df['Orders Completed < 1'] = np.where((df['Final_Status'] == 'Complaint'), 1, np.nan)
df['Orders Completed < 1']

0      1.0
1      1.0
2      NaN
3      NaN
4      1.0
      ...
518    1.0
519    1.0
520    1.0
521    1.0
522    1.0
Name: Orders Completed < 1, Length: 523, dtype: float64

In [135]:
Y4 = df[['ShippingCommunity','createdAt','Completed At', 'Final_Status','Orders Completed < 1']]
Y4

,ShippingCommunity,createdAt,Completed At,Final_Status,Orders Completed < 1
0,Brigade Cosmopolis,2021-04-08 18:56:00,2021-04-08 19:39:00,Complaint,1.0
1,Shriram Summitt,2021-04-08 18:56:00,2021-04-08 19:30:00,Complaint,1.0
2,Adarsh Palm Retreat,2021-04-08 18:55:00,2021-04-08 19:57:00,Non Complaint,NaN
3,Salarpuria Greenage,2021-04-08 18:55:00,2021-04-08 20:06:00,Non Complaint,NaN
4,Sobha Silicon Oasis,2021-04-08 18:54:00,2021-04-08 19:32:00,Complaint,1.0
...,...,...,...,...,...
518,Salarpuria Greenage,2021-04-07 19:09:00,2021-04-07 20:01:00,Complaint,1.0
519,Prestige Lakeside,2021-04-07 19:07:00,2021-04-07 21:20:00,Complaint,1.0
520,Sobha Dream Acres,2021-04-07 19:06:00,2021-04-08 09:44:00,Complaint,1.0
521,Shriram Summitt,2021-04-07 19:04:00,2021-04-07 19:51:00,Complaint,1.0
522,Ramky One North,2021-04-07 19:02:00,2021-04-07 21:13:00,Complaint,1.0

In [101]:
df = df.drop('Trial', axis = 1)

In [104]:
df = df.drop('Final Status', axis = 1)

In [145]:
df['Orders Completed > 1'] = np.where((df['Final_Status'] == 'Non Complaint'), 1, np.nan)

In [158]:
df = df.drop('Orders Completed > 1', axis = 1)

In [159]:
df.columns

Index(['OrderId', 'createdAt', 'Store Billed At', 'Dc Billed At',
       'Completed At', 'CustomerName', 'CustomerMobile', 'ShippingCommunity',
       'ShippingAddressDetail', 'CommunityId', 'amountTotal', 'discount',
       'storeValue', 'storeInvoice', 'storeInvoiceAmount', 'dcValue',
       'dcInvoice', 'dcInvoiceAmount', 'refund', 'Order Completion Time (min)',
       'Store Billing Time (min)', 'Order Category',
       'Order Completion Time (hrs)', 'Completion Category', 'Final_Status',
       'Orders Completed < 1'],
      dtype='object')

In [147]:
Final_df = df[['OrderId','ShippingCommunity','Order Completion Time (hrs)','Final_Status','Orders Completed < 1','Orders Completed > 1']]
Final_df = pd.DataFrame(Final_df)
Final_df.to_csv("Final6Workbook.csv")

In [163]:
df[(df['Order Completion Time (hrs)'] > 1) & (df['Order Completion Time (hrs)'] < 2) & (df['Final_Status'] == 'Non Complaint')].shape

(126, 26)

In [165]:
df['Orders Completed < 2'] = np.where((df['Order Completion Time (hrs)'] > 1) & (df['Order Completion Time (hrs)'] < 2) & (df['Final_Status'] == 'Non Complaint'), 1, np.nan)
df['Orders Completed < 2']

0      NaN
1      NaN
2      1.0
3      1.0
4      NaN
      ...
518    NaN
519    NaN
520    NaN
521    NaN
522    NaN
Name: Orders Completed < 2, Length: 523, dtype: float64

In [167]:
df['Orders Completed > 2'] = np.where((df['Order Completion Time (hrs)'] > 2) & (df['Final_Status'] == 'Non Complaint'), 1, np.nan)

In [171]:
df.columns

Index(['OrderId', 'createdAt', 'Store Billed At', 'Dc Billed At',
       'Completed At', 'CustomerName', 'CustomerMobile', 'ShippingCommunity',
       'ShippingAddressDetail', 'CommunityId', 'amountTotal', 'discount',
       'storeValue', 'storeInvoice', 'storeInvoiceAmount', 'dcValue',
       'dcInvoice', 'dcInvoiceAmount', 'refund', 'Order Completion Time (min)',
       'Store Billing Time (min)', 'Order Category',
       'Order Completion Time (hrs)', 'Completion Category', 'Final_Status',
       'Orders Completed < 1', 'Orders Completed < 2', 'Orders Completed > 2'],
      dtype='object')

In [173]:
Final_df = df[['OrderId','ShippingCommunity','Order Completion Time (hrs)','Final_Status','Orders Completed < 1','Orders Completed < 2','Orders Completed > 2']]

In [174]:
Final_df

,OrderId,ShippingCommunity,Order Completion Time (hrs),Final_Status,Orders Completed < 1,Orders Completed < 2,Orders Completed > 2
0,TN5J1ROZ,Brigade Cosmopolis,0.700000,Complaint,1.0,NaN,NaN
1,RCKB64C7,Shriram Summitt,0.566667,Complaint,1.0,NaN,NaN
2,HLEFJUEW,Adarsh Palm Retreat,1.016667,Non Complaint,NaN,1.0,NaN
3,SOSQ1VXL,Salarpuria Greenage,1.183333,Non Complaint,NaN,1.0,NaN
4,AECZHJV8,Sobha Silicon Oasis,0.616667,Complaint,1.0,NaN,NaN
...,...,...,...,...,...,...,...
518,JUVL25UA,Salarpuria Greenage,0.850000,Complaint,1.0,NaN,NaN
519,HZ2FVQPI,Prestige Lakeside,2.200000,Complaint,1.0,NaN,NaN
520,CPOGNOFP,Sobha Dream Acres,14.633333,Complaint,1.0,NaN,NaN
521,AXH7Q3LV,Shriram Summitt,0.766667,Complaint,1.0,NaN,NaN
522,GXFF1PO7,Ramky One North,2.166667,Complaint,1.0,NaN,NaN